<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="checkout_shipping_comment_shippingInformationManagement"
            type="Romchik38\CheckoutShippingComment\Plugin\Checkout\Model\ShippingInformationManagement"
            sortOrder="1" disabled="false" />
    </type>
    <type name="\Magento\Customer\Model\Address\CustomerAddressDataFormatter">
        <plugin name="checkout_shipping_comment_customer_address_formatter"
            type="Romchik38\CheckoutShippingComment\Plugin\Customer\Model\Address\CustomerAddressDataFormatter"
            sortOrder="1" disabled="false" />
    </type>
    <type name="\Magento\Sales\Model\Order\Address\Renderer">
        <plugin name="checkout_shipping_comment_order_address_renderer"
            type="Romchik38\CheckoutShippingComment\Plugin\Sales\Model\Order\Address\Renderer"
            sortOrder="1" disabled="false" />
    </type>
    <type name="\Magento\Customer\Api\AddressRepositoryInterface">
        <plugin name="checkout_shipping_comment_customer_address_repository"
            type="Romchik38\CheckoutShippingComment\Plugin\Customer\Model\ResourceModel\AddressRepository"
            sortOrder="1" disabled="false" />
    </type>
    <type name="\Magento\Customer\Model\Address">
        <plugin name="checkout_shipping_comment_customer_model_address"
            type="Romchik38\CheckoutShippingComment\Plugin\Customer\Model\Address"
            sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Customer\Api\Data\AddressInterface">
        <plugin name="checkout_shipping_comment_customer_model_address_extension"
            type="Romchik38\CheckoutShippingComment\Plugin\Customer\AddressAttributesLoad" />
    </type>
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="checkout_shipping_comment_quote_address"
            type="Romchik38\CheckoutShippingComment\Plugin\Quote\Model\Quote\Address" />
    </type>
    <type name="\Magento\Customer\Block\Address\Book">
        <plugin name="checkout_shipping_comment_block_address_book"
            type="Romchik38\CheckoutShippingComment\Plugin\Customer\Block\Address\Book" />
    </type>
    <type name="\Magento\Customer\Controller\Address\FormPost">
        <plugin name="checkout_shipping_comment_controller_address_formpost"
            type="Romchik38\CheckoutShippingComment\Plugin\Customer\Controller\Address\FormPost" />
    </type>

    <!-- testing start -->
    <type name="Magento\Quote\Model\QuoteRepository">
        <plugin name="checkout_shipping_comment_quote_model_quoterepository"
            type="Romchik38\CheckoutShippingComment\Plugin\Quote\Model\QuoteRepository" />
    </type>
    <!-- testing end -->

    <preference
        for="Romchik38\CheckoutShippingComment\Api\Data\ShippingCommentInterface"
        type="Romchik38\CheckoutShippingComment\Model\ShippingComment"
    />
    <preference
        for="Romchik38\CheckoutShippingComment\Api\Data\ShippingCommentSearchResultsInterface"
        type="Romchik38\CheckoutShippingComment\Model\ShippingCommentSearchResults"
    />    
    <preference
        for="Romchik38\CheckoutShippingComment\Api\ShippingCommentRepositoryInterface"
        type="Romchik38\CheckoutShippingComment\Model\ShippingCommentRepository"
    />
    <preference
        for="Romchik38\CheckoutShippingComment\Api\Data\ShippingCommentCustomerInterface"
        type="Romchik38\CheckoutShippingComment\Model\ShippingCommentCustomer"
    />
    <preference
        for="Romchik38\CheckoutShippingComment\Api\Data\ShippingCommentCustomerSearchResultsInterface"
        type="Romchik38\CheckoutShippingComment\Model\ShippingCommentCustomerSearchResults"
    />
    <preference
        for="Romchik38\CheckoutShippingComment\Api\ShippingCommentCustomerRepositoryInterface"
        type="Romchik38\CheckoutShippingComment\Model\ShippingCommentCustomerRepository"
    />
</config>