<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="checkout_shipping_comment_shippingInformationManagement"
            type="Romchik38\CheckoutShippingComment\Plugin\Checkout\Model\ShippingInformationManagement"
            sortOrder="1" disabled="false" />
    </type>
    <!-- Admin -->
    <type name="\Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="checkout_shipping_comment_admin_order_info"
            type="Romchik38\CheckoutShippingComment\Plugin\Adminhtml\Order\View\Info"
            sortOrder="1" disabled="false" />
    </type>
    <type name="\Magento\Sales\Model\Order\Address\Renderer">
        <plugin name="checkout_shipping_comment_order_address_renderer"
            type="Romchik38\CheckoutShippingComment\Plugin\Model\Order\Address\Renderer"
            sortOrder="1" disabled="false" />
    </type>
    <!-- Admin END -->
    <preference
        for="Romchik38\CheckoutShippingComment\Api\Data\PostInterface"
        type="Romchik38\CheckoutShippingComment\Model\Post"
    />
    <preference
        for="Romchik38\CheckoutShippingComment\Api\Data\PostSearchResultsInterface"
        type="Romchik38\CheckoutShippingComment\Model\PostSearchResults"
    />
    <preference
        for="Romchik38\CheckoutShippingComment\Api\PostRepositoryInterface"
        type="Romchik38\CheckoutShippingComment\Model\PostRepository"
    />
</config>